ComTransfer/TaskList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xsd:element name="ArrayOfTask">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Task">
					<xsd:complexType>
						<xsd:attribute name="Time" type="xsd:int" use="required" />
						<xsd:attribute name="FileTime_Head" type="xsd:int" use="required" />
						<xsd:attribute name="FileTime_Tail" type="xsd:int" use="required" />
						<xsd:attribute name="Folder" type="xsd:string" use="required" />
						<xsd:attribute name="Extension" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xs:schema>